<div class = "well" >
<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label 'Start a PUG!' %><br>
      <%= f.text_area :name, class: 'form_control', autofocus: true, placeholder: 'Title'%>
      <%= f.text_area :venue, class: 'form_control',autofocus: true, placeholder: 'Where do you want to meet?'%>
      <div class="form-group">
      <%= f.label 'When?' %>
      <%= f.datetime_select :when, placeholder: "When?", class: 'form-control', id: "datetime" , autofocus: false %>
      </div>
      <%= f.text_area :content, class: 'form-control', autofocus: true, 
          placeholder: 'What\'s up?' %>
      <%= hidden_field_tag(:location, current_user.location)%>
      <%= f.file_field :attachment, class: 'form-control' %>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>
</div>